# Build output
build/*
out/
!build/devlibs/
build/devlibs/*
!build/devlibs/*.jar
build/devlibs/*-sources.jar

# Gradle
.gradle/
gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Fabric Loom cache
.cache/
remappedSources/

# OS
Thumbs.db
.DS_Store
